

.nav {
    width: 100vw;
    border: 2px solid green;
}

.ul {
    list-style: none;
    width: 50%;
    display: flex;
}

.li {
    text-decoration: none;
    margin: 0 10px;
    width: 100px;
    padding: 5px 0px;
    text-align: center;
}